@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-gold-500 {
    background-color: #FFD700;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Dancing Script', cursive;
}
body {
    font-family: 'Merriweather', serif;
}
.marble {
    background-image: url("/images/marble-background.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.marble h1 {
    font-weight: 900;
}